* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* utilities class */ 
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset;
}


/* navbar */
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

.navbar li a {
  padding: 10px;
  color: #5c5656;
  font-size: 13px;
  font-weight: 300;
}

.navbar li a i{
  color: #726969;
}

.navbar li a i:hover {
  color: #000;
}

.navbar li a img {
  border-radius: 50%;
}


/* main */
.main {
  padding: 0 25px;
}

.google-pic{
  margin: 15px auto;
  width: 85vw;
  position: relative;
}

.google-pic .icon {
  display: block;
  margin: 0 auto;
  width: fit-content;
  padding: 5px;
}

.google-pic i {
  padding: 20px;
  position: absolute;
  color: #248be0;
  bottom: 0;
  right: 0;
}

.google-pic i:hover {
  color: #006ec9;
}


/* search box */
.search-box {
  border: 1px solid #d8d3d3;
  width: 95%;
  height: fit-content;
  padding: 8px 20px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.search-box:hover {
  box-shadow: 2px 2px 7px 2px #d6d5d5;
}

.search-box .search-icon {
  color: #968d8d;
}

.search {
  margin: 0 auto;
  width: 85%;
  height: 32px;
  border: none;
  outline: none;
  cursor: auto;
}

.search-box .mic {
  color: #1267c9;
}


/* search buttons */
.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn .btn {
  margin: 5px 20px;
  padding: 10px;
  border-radius: 5px;
  background: #f7f5f5;
  font-size: 14px;
  color: #554f4f;
  border: none;
  cursor: pointer;
}

.search-btn .btn:hover {
  border: 1px solid #ccc8c8;
}


/* languages */
.lang {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin: 15px auto;
  line-height: 1.4rem;
}

.lang ul {
  display: flex;
}

.lang ul p,
.lang ul li{
  margin: 0 5px;
}


/* footer */
.footer {
  background: #eeeeee;
  position: fixed;
  bottom: 0;
  width: 100vw;
  font-size: 14px;
}

.footer .country {
  padding: 10px 30px;
  color: #928989;
  border-top: 1px solid #cfcaca;
}

.footer .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #cfcaca;
  padding: 10px 20px;
}

.footer .info a {
  display: inline-block;
  padding: 0 10px;
  color: #928989;
}



/* responsiveness for tablets and laptops */
@media screen and (min-width: 768px) {
  .google-pic{
  width: 45vw;
  }

  .search-box {
    width: 650px;
  }
  
  .footer .info {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}